
/* The board DTS already sets I2C2 pins to PA12/PA11 and status = "okay". */
&i2c2 {
    status = "okay";
    /* Optional: lock speed (board already uses 400 kHz)
     * clock-frequency = <400000>;
     */

    tcs34725: tcs34725@29 {
        compatible = "zephyr,i2c-device";  /* generic node for raw I2C access */
        reg = <0x29>;                      /* 7-bit address of TCS34725 */
        label = "TCS34725";
        status = "okay";
    };

    si7021: si7021@40 {
        compatible = "zephyr,i2c-device";  /* generic node for raw I2C access */
        reg = <0x40>;                      /* 7-bit address of TCS34725 */
        label = "SI7021";
        status = "okay";
    };

    mma8451: mma8451@1d {
        compatible = "zephyr,i2c-device";  /* generic node for raw I2C access */
        reg = <0x1D>;                      /* 7-bit address of TCS34725 */
        label = "MMA8451";
        status = "okay";
    };
};

&usart1 {
    /* D1 (TX) = PB6, D0 (RX) = PB7 */
    pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
    pinctrl-names = "default";

    current-speed = <9600>;   /* Adafruit Ultimate GPS default baud */
    status = "okay";
};

/ {
    leds {
        compatible = "gpio-leds";
        rgb_led_r: rgb_led_r { gpios = <&gpiob 8  GPIO_ACTIVE_LOW>; label = "LED_R"; };
        rgb_led_b: rgb_led_b { gpios = <&gpioa 9  GPIO_ACTIVE_LOW>; label = "LED_B"; };
        rgb_led_g: rgb_led_g { gpios = <&gpiob 10 GPIO_ACTIVE_LOW>; label = "LED_G"; }; 
    };

    aliases {
        led0r = &rgb_led_r;
        led0g = &rgb_led_g;
        led0b = &rgb_led_b;
    };
};

/ {
	aliases {
		led0 = &blue_led_1; 	// This is LED1 as labeled STM32WL55JC board's 
		led1 = &green_led_2; 	// This is LED2 as labeled STM32WL55JC board's 
		led2 = &red_led_3; 	// This is LED3 as labeled STM32WL55JC board's 
	};
};